body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-bottom: solid 5px rgb(55, 172, 20);
    opacity: 0.8;
  }
  
  li {
    float: left;
    width: 20%;
    background: black;
  
    margin-top: 0px;
    margin-bottom: 0px;
    
   
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgb(55, 172, 20);
    color: black;
    font-weight: 10;
   }

h1{
    text-align: center;
    text-decoration: underline rgb(55, 172, 20);   
    text-underline-position: under;
}

h2{
    margin: 30px;
    text-decoration: underline rgb(55, 172, 20);   
    text-underline-position: under;
    text-align: center;
}


h3{
    text-align: center;
    margin: 30px;
    text-decoration: underline rgb(55, 172, 20);   
    text-underline-position: under;
    
}

td{
    width: 50%;
    padding: 20px;
}
 
img{
    width: 100%;
}

p{
    text-align: justify;
}

.p{
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    background-color:rgb(219, 255, 208);
}

.container2{
    background-color: rgb(230, 230, 230);
   
    padding: 20px;
   
}


  